@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap%27');
body{
  background-color: #fc6603;
  font-family: 'Fuggles', cursive;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-family: 'Fuggles', cursive;
  font-size:60px;
  margin-top: 0;
  margin-bottom:5px; 
  color: #10073d;
}